@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');
html {
  background-color: #1A1A1A;
}
body {
  font-family: 'Monoton', cursive;
  text-align: center;
  font-size: 48px;
  background-color: #FFFFFF;
  border-radius: 15px;
  width: 500px;
  height: 500px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
        transform: translateY(-20px);
    }
    to {
        opacity:1;
        transform: translateY(0px);
    }
}
